{% extends "base.html" %}
{% load project_templatetags %}

{% block css-style %}
<link rel="stylesheet" type="text/css" href="/site_media/css/projects.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="/site_media/css/forms.css" media="screen,projection" />
{% endblock %}

{% block title %}Алексей Евсеев. Проекты{% endblock %}
{% block page_title %}Проекты{% endblock %}
{% block content %}
    {% load comments %}
    <div id="Project-list">
        {% if projects|length == 0 %}
          Проектов с такими тегами нет
        {% else %}
          {% for project in projects reversed %}
              <div class="project-item">
                  <div class="time">{{project.created|date:"Y-m-d"}}</div>
                  <a class="titlebody" href="{{ project.get_absolute_url }}" title="Посмотреть {{project.title}}">{{project.title}}</a>
                  <div class="descr">
                      {{project.description|safe|truncatewords:max_description_words}}
                      <a style="text-decoration:none;" href="{{ project.get_absolute_url }}" title="Смотреть далее">&raquo</a>
                  </div>
                  <div class="tags-wrap">
                      <div class="" style="margin-right:5px; float:left;">Теги: </div>
                      {% for project_tag in project.tags.all %}
                          {% if checked|getDictItem:project_tag.name %}
                              <div class="tag checked">{{ project_tag.name }}</div>
                          {% else %}
                              <div class="tag">{{ project_tag.name }}</div>
                          {% endif %}
                      {% endfor %}
                  </div>
              </div>
          {% endfor %}
        {% endif %}
    </div>
    <div id="Right_menu">
        <div id="Tag_title">Теги</div>
		<ul class="tag_filter_list">
		{% for tag in tags %}
			{% if checked|getDictItem:tag.name %}
                <!-- <li class="tag-filter-wrap"><a style="float:none;" class="tag tag_choice checked" href="{% url projects_url %}">{{ tag.name }}</a></li> -->
				<li class="tag-filter-wrap"><a class="tag tag_choice checked" href="{% url projects_url %}">{{ tag.name }}</a></li>				
			{% else %}
				<li class="tag-filter-wrap"><a class="tag tag_choice" href="?{{ tag.name }}=on">{{ tag.name }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
    </div>

{% endblock %}
