# комментарий – эта строка игнорируется
# *.a       # не обрабатывать файлы имя которых заканчивается на .a
# !lib.a    # НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
# /TODO     # игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
# build/    # игнорировать все файлы в каталоге build/
# doc/*.txt # игнорировать doc/notes.txt, но не doc/server/arch.txt

*.pyc
*~
*.zip
*.db
*.psproj
*.sql
local_settings.py
whoosh/
haystack/