<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Alexey Evseev home site" />
    <meta name="keywords" content="Evseev home programming python java job work" />
    <meta name="author" content="Stalk" />
    <link rel="shortcut icon" href="/site_media/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/base.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/searchlight.css" media="screen,projection" />
    {% block css-style %}{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/site_media/js/main.js" charset="utf-8"></script>
    <script type="text/javascript" src="/site_media/js/jquery.searchlight.js"  charset="utf-8"></script>    
    {% block scripts %}{% endblock %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#ajax_srch_fld').searchlight("{% url ajax_search_url %}"); 
        });
    </script>
    <title>{% block title %}{% endblock %}</title>    
</head>

<body>
<div id="Wrapper">
    <div id="Header">
        <div id="Logo"><a href="{% url root_url %}">Алексей Евсеев. Программист.</a></div>
        <!-- ############## search ############## -->
        <div id="Search">
            <form method="get" action="{% url haystack_search %}">
                <label for="id_q"></label>
                <input id="ajax_srch_fld" type="text" title="Поиск" value="Поиск" name="q" id="id_q" autocomplete=off />
            </form>
        </div>
        <!--  ############## up menu ############## -->
        <div id="Up_menu">
            <ul>
                {% if user.is_authenticated %}
                    <li id="logout"><a href="{% url logout_page_url %}" title="">Выйти</a></li>
                    <li id="edit_profile"><a href="{% url edit_profile_url %}" title="">Редактировать профиль</a></li>
                {% else %}
                    <li id="login"><a href="{% url login_page_url %}" title="">Войти</a></li>
                    <li id="signup"><a href="{% url signin_page_url %}" title="">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="Main">
        <div id="Page_title">{% block page_title %}{% endblock %}</div>
        <!-- ############## main menu ############## -->
        <div id="Left_menu">
            <ul>
                <li><a href="{% url projects_url %}" title="">Проекты</a></li>                
                <li><a href="{% url services_url %}" title="">Сервисы</a></li>
                <li><a href="{% url about_url %}" title="">Об авторе</a></li>
            </ul>
        </div>
        <!-- ############## content ############## -->        
        <div id="Content">
            {% block content %}{% endblock %}        
        </div>
        <!-- ############## tag menu ############## -->
        {% block right_menu %}{% endblock %}
        <div id="Push"></div>
    </div>
</div>
<!-- ############## footer ############## -->
<div id="Footer">
    Сайт построен используя 
    <a href="http://python.org" target="_blank" title="Python {{ PYTHON_VERSION }}">Python {{ PYTHON_VERSION }}</a>
    <a href="http://www.djangoproject.com" target="_blank" title="Django {{ DJANGO_VERSION }}">Django {{ DJANGO_VERSION }}</a>
    <a href="http://jquery.com" target="_blank" title="jQuery" class="jquery-version">jQuery</a>
</div>


</body>
</html>